<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exchange.CatchAll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="domainSection" type="ConfigurationSettings.DomainSection, ExchangeCatchAll"/>
      <sectionGroup name="databaseSection">
        <section
            name="database"
            type="ConfigurationSettings.Database"
            allowLocation="true"
            allowDefinition="Everywhere"
        />
      </sectionGroup>
    </configSections>
    <applicationSettings>
        <Exchange.CatchAll.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AddOrigToHeader" serializeAs="String">
                <value>True</value>
            </setting>
        </Exchange.CatchAll.Properties.Settings>
    </applicationSettings>
  <domainSection>
    <Domains>
      <Domain name="example.com" address="you@example.org"/>
      <Domain name="foo.com" address="you@foo.org" />
    </Domains>
  </domainSection>
  <databaseSection>
    <database enabled="true" type="mysql" host="localhost" port="3000" schema="catchall" user="catchall" password="catchall" />
  </databaseSection>
</configuration>